:root {
	--pointColor: orangered;
	--boxGap: 20px;
	--countColumn: 3;
	--countColumn-2: 2;
	--countColumn-1: 1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #111;
	font-family: 'Nanum Myeongjo';
	font-weight: normal;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.h {
	position: absolute;
	top: -99999px;
	opacity: 0;
}
table,
th,
td {
	border-collapse: collapse;
}
textarea {
	resize: none;
}
input,
button {
	outline: 0;
}
fieldset {
	border: none;
}
select {
	color: #888;
	font-size: 1rem;
}
input,
text {
	&::placeholder {
		font-size: 1rem;
		color: #888;
	}
}
html {
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 3px;
		background: coral;
	}
}
