.department {
	#historyBox {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
		margin-bottom: 100px;

		h2 {
			width: 30%;
			font-size: 3rem;
			opacity: 0.6;
		}
		.con {
			width: 65%;
			padding-left: 40px;
			border-left: 1px solid #ddd;
			ul {
				margin-bottom: 80px;
				margin-top: 20px;
			}
		}
	}
}
